.mage{
    width: 400px;
    height: 250px;
}
.check
{
    height: 20px;
    width: 20px;
}
.bn_status
{
    background-color: cyan;
    font-size: 14px;
    padding: 4px;
}

.droite
{
    margin-left: 100px;
}
.btn_activ
{
    margin-top: -20px;
    width: 70%;
}
.matricu{
    margin-top: 10px;
}
.gest_art
{
 border: 2px solid white;
    background: white;

}
.btn_ko
{
    margin-top: 15px;

    /* background: cyan; */
    height: 35px;
    font-size: 15px;
    font-family: sans-serif;
    width: 15%;
    height: 40px;


}
.ro{
    padding: 0px;
}
.form_bar
{
    margin-top: 15px;
    padding: 0px;
}
/*********************modal
*************************
 */
.head_modal
{
    background: cyan;
}
.title_ajout
{
    text-align: center;
    font-family: cursive;
    font-size: 24px;
}
/***********button action
***********************
 */
.th{
    text-align: center;
}
.bt
{
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 14px;
    font-family: cursive;

}
.wx{

}
.gly{
    padding-left: 5px;
}
.action{
text-align: center;
}

/**********************
modal confirmation
 */
.modal-confirm {
    color: #434e65;
    width: 525px;
}
.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    background: #47c9a2;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}
.modal-confirm .close:hover {
    opacity: 0.8;
}
.modal-confirm .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}
.modal-confirm .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #47c9a2;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: rgba(0.0.0.0,5);
    outline: none;
}
.modal-confirm .btn span {
    margin: 1px 3px 0;
    float: left;
}
.modal-confirm .btn i {
    margin-left: 1px;
    font-size: 20px;
    float: right;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

/**********************
******input voir detail
 */
.pt{
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;

    background: white;
    font-size: 20px;

}
.pt1{
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;

    background: white;
    font-size: 15px;
    margin: 5px;

}
.pt2{
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    /* background: white; */
    background: content-box;
    font-size: 15px;
    color: black;
    width: 50%;
    text-align: center;
    /*margin: 5px;*/

}
.bh{

    /* border: 1px solid cornflowerblue; */
padding: 0px;
    /* width: 0px; */
    background: cornflowerblue;
    /* background: white; */
    width: 40%;
}
.ko
{
    border: 1px solid darkgrey;
    background: darkgray;
    padding: 5px;
    width: 50px;
    text-align: center;
    border-radius: 9px;
    font-size: 17px
}