.check
{
    height: 20px;
    width: 20px;
}
.bn_status
{
    background-color: cyan;
    font-size: 14px;
    padding: 4px;
}

.droite
{
    margin-left: 100px;
}
.btn_activ
{
    margin-top: -20px;
    width: 70%;
}
.matricu{
    margin-top: 10px;
}
.gest_art
{
 border: 2px solid white;
    background: white;

}
.btn_ko
{
    margin-top: 15px;
    border: 1px solid gainsboro;
    /* background: cyan; */
    height: 35px;
    font-size: 15px;
    font-family: sans-serif;
    width: 15%;
    height: 40px;
    margin-bottom: 4%;
    background: gainsboro
}
.ro{
    padding: 0px;
}
.form_bar
{
    margin-top: 15px;
    padding: 0px;
}
/*********************modal
*************************
 */
.head_modal
{
    background: cyan;
}
.title_ajout
{
    text-align: center;
    font-family: cursive;
    font-size: 24px;
}
/***********button action
***********************
 */
.th{
    text-align: center;
}
.bt
{
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 14px;
    font-family: cursive;

}
.wx{

}
.gly{
    padding-left: 5px;
}
.action{
text-align: center;
}

/**********************
modal confirmation
 */
.modal-confirm {
    color: #434e65;
    width: 525px;
}
.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    background: #47c9a2;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}
.modal-confirm .close:hover {
    opacity: 0.8;
}
.modal-confirm .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}
.modal-confirm .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #47c9a2;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: rgba(0.0.0.0,5);
    outline: none;
}
.modal-confirm .btn span {
    margin: 1px 3px 0;
    float: left;
}
.modal-confirm .btn i {
    margin-left: 1px;
    font-size: 20px;
    float: right;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

/**********************
******controler input
 */
.error-message
{
   /* background-color: white;
    color: red;
    padding: 5px;
    border:1px solid red;*/

}
.error
{
    border: 1px solid red;
    background: red;
    padding-bottom: 4px;
    text-align: center;
    border-radius: 15px;
    color: white;
}

/**mopdal*/
.head{
    background: lightcoral;
    height: 70px;
}
.titre
{
    text-align: center;
    /* font-family: monospace; */
    font-size: 25px;
    /* border-bottom: 2px solid black; */

}
.inp
{
    height: 50px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 30px;
    width: 80%;
    margin-left: 50px;
    margin-top: 30px;
}
.ak
{
    border: 2px solid cadetblue;
    padding: 5px;
    width: 40%;
    font-family: arial;
    border-radius: 10px;
    font-size: 15px
}
.put{

    border: 1px solid darkgray;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    background: darkgrey
}
#AfficheAssurance
{
    /* margin: 5px; */
    border: 1px solid transparent;
    padding: -5px;
    /* height: 50%; */
    width: 70%;
    height: 40px;
    /* margin-right: 100px; */
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 18px;
}